
@import url('https://fonts.googleapis.com/css?family=Quicksand:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{
  font-family: 'Quicksand', sans-serif;
}

$colors_black: rgb(45,45,45);
$colors_gray_light: rgb(210, 210, 210);
$colors_gray_mid: rgb(175, 175, 175);
$colors_gray_dark: rgb(85, 85, 85);
$colors_blue_light: rgb(90,140,255);
$colors_blue_mid: rgb(30, 103, 240);
$colors_blue_dark: rgb(10,30,205);
$colors_red_mid: rgb(199, 61, 37);
$colors_green_mid: rgb(32, 160, 53);
$fontSize_big: 24px;
$fontSize_small: 16px;

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
